/* Global Layout Set-up */

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: #f7f5f0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}


/* Navigation layout*/

.bar {
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    width: 100%;
    background: #eee;
    padding: 20px;
}